.hero {
  background: linear-gradient(to right, #222, #444);
  color: white;
  text-align: center;
  padding: 5rem 1rem;
}

.hero h2 {
  font-size: 2.5rem;
}

.hero span {
  color: var(--accent);
  text-shadow: 0 3px 18px var(--accent-glow);
}
